.dashboard {
  &-main {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px auto;
  }
}

/* desktops */
@media (min-width: 960px) {
}

/* tablet */
@media (min-width: 480px) and (max-width: 768px) {
  .dashboard {
    &-main {
      height: 100vh;
      display: grid;
      grid-template-columns: 80px auto;
    }
  }
}

/* mobile */
@media (max-width: 480px) {
  .dashboard {
    &-main {
      height: 100%;
      display: block;
    }
  }
}
