$button-standard: #4169e1;
$button-standard-active: #143391;

$button-confirm: #06a94d;
$button-confirm-active: #0e7a3d;

$button-white: #ffffff;

textarea:focus,
input:focus {
  outline: none;
}

.form-field {
  display: grid;
  justify-items: start;

  height: 40px;
  padding: 2px 10px;
  margin: 5px 10px;

  background-color: #ffffff;
  border: solid 1px var(--light-gray);
}

.form-field > label {
  color: royalblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  font-variant: small-caps;
  font-weight: bold;
}

.form-field input {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  width: 100%;
  padding: 2px;
}

.form-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;

  margin: 10px;
  padding: 10px;
  min-height: 40px;

  background: $button-standard;
  color: $button-white;
  border: none;
  cursor: pointer;

  transition: 200ms;

  &:active {
    background: $button-standard-active;
  }
}

.form-button--confirm {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;

  margin: 10px;
  padding: 10px;
  min-height: 40px;

  background: $button-confirm;
  color: $button-white;
  border: none;
  cursor: pointer;

  transition: 200ms;

  &:active {
    background: $button-confirm-active;
  }
}

.icon-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;

  margin: 10px;
  padding: 10px;

  background: $button-white;
  color: $button-standard;
  border: solid 2px $button-standard;
  cursor: pointer;

  transition: 200ms;

  &:active {
    color: $button-white;
    background: $button-standard;
    border: solid 2px $button-standard-active;
  }
}

.list-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  font-weight: bold;

  padding: 5px;
  align-self: center;

  background: $button-white;
  border: none;
  color: var(--dark);
  cursor: pointer;

  transition: 200ms;

  &:hover {
    color: $button-standard;
  }

  &:active {
    color: $button-standard-active;
  }
}
