.job-type {
  display: flex;
  align-items: start;
  justify-items: center;

  color: var(--white);
  border-radius: 10px;

  &__content {
    border-radius: 8px;
    padding: 5px 15px;
    margin: 3px;
  }
}