@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
$fancy-font-family: 'Architects Daughter', sans-serif;

/* mobile */
@media (max-width: 600px) {
  .login {
    &__page {
      display: grid;
      grid-template-rows: 2fr 3fr;
    }

    &__banner {
      background-image: linear-gradient(to right,
          rgba(42, 216, 187, 0.9),
          rgba(14, 45, 137, 0.9)),
        url("../assets/images/scheduleDesk.jpg");
      background-size: cover;
      background-position: bottom;
    
      display: grid;
      justify-items: center;
      align-items: center;
    
      &--content {
        font-size: 25px;
        font-family: $fancy-font-family;
        color: var(--white);
      }
    }

    &__form {
      margin: 20px;
    }

    &__form-container {
      &--title {
        padding-left: 10px;
        font-size: 20px;
      }

      &--forgot {
        font-size: 12px;
        padding: 10px;
        text-align: right;
      }
    }
  }
}

/* full screen */
@media (min-width: 600px) {
  .login {
    &__page {
      display: grid;
      grid-template-columns: 4fr 3fr;
    }

    &__banner {
      background-image: linear-gradient(to right,
          rgba(42, 216, 187, 0.9),
          rgba(14, 45, 137, 0.9)),
        url("../assets/images/scheduleDesk.jpg");
      background-size: cover;
      background-position: bottom;

      display: grid;
      justify-items: center;
      align-items: center;

      &--content {
        font-size: 35px;
        font-family: $fancy-font-family;
        color: var(--white);
      }
    }

    &__form {
      justify-self: center;
      align-self: center;
    }

    &__form-container {
      width: 400px;

      &--title {
        padding-left: 10px;
        font-size: 20px;
      }

      &--forgot {
        text-align: center;
        padding: 5px;
      }

      &--forgot-link {
        color: var(--blue);
      }

      &--forgot:hover {
        cursor: pointer;
      }
    }
  }
}

// all resolutions
.login {
  &__page {
    min-height: 100vh;
  }
}

.login__banner {
  position: relative;
}

.floating-icon {
  &--calendar {
    color: var(--white);
    opacity: 0.8;
    font-size: 50px;
  
    animation: floating-two 60s ease-in-out infinite;
  
    position: absolute;
    top: 20px;
    left: 40px;
  }

  &--user-clock {
    color: var(--white);
    opacity: 0.8;
    font-size: 50px;
  
    animation: floating-one 45s ease-in-out infinite;
  
    position: absolute;
    top: 60px;
    right: 40px;
  }

  &--list {
    color: var(--white);
    opacity: 0.8;
    font-size: 50px;
  
    animation: floating-one 75s ease-in-out infinite;
  
    position: absolute;
    bottom: 50px;
    left: 200px;
  }
}

@keyframes floating-one {
  0% {
    opacity: 0.0;
    transform: translate(0, 0px);
    rotate: 0deg;
  }

  25% {
    opacity: 0.8;
    transform: translate(40px, 25px);
    rotate: -45deg;
  }

  50% {
    opacity: 0.4;
    transform: translate(100px, 50px);
    rotate: 90deg;
  }

  75% {
    opacity: 0.6;
    transform: translate(50px, 25px);
    rotate: 45deg;
  }

  100% {
    opacity: 0.0;
    transform: translate(0, -0px);
    rotate: 0deg;
  }
}

@keyframes floating-two {
  0% {
    opacity: 0.0;
    transform: translate(0, 0px);
    rotate: 0deg;
  }

  25% {
    opacity: 0.8;
    transform: translate(20px, 50px);
    rotate: 45deg;
  }

  50% {
    opacity: 0.5;
    transform: translate(50px, 150px);
    rotate: 90deg;
  }

  75% {
    opacity: 0.8;
    transform: translate(30px, 60px);
    rotate: -45deg;
  }

  100% {
    opacity: 0.0;
    transform: translate(0, -0px);
    rotate: -90deg;
  }
}