.people {
  &__title {
    display: grid;
    grid-template-columns: 1fr 1fr;

    h1 {
      font-size: 1.5em;
      font-weight: bold;

      color: var(--blue);
      padding: 20px;
      margin: 0;
    }

    &--button-container {
      justify-self: right;
      align-self: center;
      padding: 0 10px;
    }
  }

  &__form {
    margin: 0 auto;
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "heading heading"
      "toast toast"
      "firstname lastname"
      "email email"
      "phone phone"
      "job job"
      "hiredate termdate"
      "confirmbutton confirmbutton"
      "cancelbutton cancelbutton";

    &--header {
      grid-area: heading;
      font-size: 1.25em;
      font-weight: bold;
    
      color: var(--blue);
      padding: 10px;
      margin: 0;
    }

    &--last-name {
      grid-area: lastname;
    }

    &--first-name {
      grid-area: firstname
    }

    &--email {
      grid-area: email;
    }

    &--phone {
      grid-area: phone;
    }

    &--job {
      grid-area: job;
    }

    &--hire-date {
      grid-area: hiredate;
    }

    &--term-date {
      grid-area: termdate;
    }

    &--confirm-button {
      display: grid;
      grid-area: confirmbutton;
    }

    &--cancel-button {
      display: grid;
      grid-area: cancelbutton;
    }

    &--toast {
      grid-area: toast;
    }
  }
}