/* full screen */
@media (min-width: 1024px) {
  .people {
    &__main-content {
    }

    &__table {
      display: grid;
      grid-template-columns: 4fr 3fr 2fr 50px 50px;

      max-height: 100vh;
      overflow-y: auto;

      &--header {
        & div {
          display: flex;
          justify-content: center;
    
          padding: 0 5px;
          font-weight: bold;
        }
    
        &--span {
          grid-column: 4 / 6;
        }
      }

      &--dates {
        display: flex;
        align-content: center;
        justify-content: center;

        padding: 10px;
        background-color: var(--white);
      }

      &--cell {
        display: flex;
        align-content: center;
        justify-content: center;

        padding: 10px;
        background-color: var(--white);
      }
    }
  }
}

/* small screen */
@media (min-width: 768px) and (max-width: 1024px) {
  .people {
    &__main-content {
      display: block;
    }

    &__table {
      display: grid;
      grid-template-columns: 4fr 3fr 2fr 50px 50px;

      max-height: 100vh;
      overflow-y: auto;

      &--header {
        & div {
          display: flex;
          justify-content: center;

          padding: 0 5px;
          font-weight: bold;
        }

        &--span {
          grid-column: 4 / 6;
        }
      }

      &--dates {
        display: flex;
        align-content: center;
        justify-content: center;

        padding: 10px;
        background-color: var(--white);
      }

      &--cell {
        display: flex;
        align-content: center;
        justify-content: center;

        padding: 10px;
        background-color: var(--white);
      }
    }
    &__form {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

/* mobile */
@media (max-width: 600px) {
  .people {
    &__main-content {}

    &__table {
      display: grid;
      grid-template-columns: 1fr 1fr 50px 50px;

      &--header {
        display: none;
      }

      &--id-card {
        padding: 10px 0;
      }

      &--positions {
        padding: 10px 5px;
      }

      &--dates {
        display: none;
      }

      &--cell {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
      
        padding: 5px;
        background-color: var(--white);
      }
    }

  }
}

// all resolutions
.people {
  &__title {
    display: grid;
    grid-template-columns: 1fr 1fr;

    h1 {
      font-size: 1.5em;
      font-weight: bold;
  
      color: #000;
      padding: 20px;
      margin: 0;
    }

    &--button-container {
      justify-self: right;
      align-self: center;
      padding: 0 10px;
    }
  }

  &__header {
    margin: 0 10px;
  }

  &__list-content {
    margin: 10px;
  }

  &__table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: var(--dark);

    &--id-card {
      display: grid;
      grid-template-columns: auto 1fr;
      background-color: var(--white);

      &--icon {
        min-height: 20px;
        min-width: 20px;
        padding: 5px 10px;
      }

      &--initials {
        margin: 0 10px;
        padding: 5px;

        display: grid;
        align-items: center;
        justify-items: center;

        height: 20px;
        width: 20px;

        background-color: #9c9c9c;
        color: #ffffff;

        border-radius: 50%;
        font-size: 1em;
        font-weight: bold;
      }

      &--bold {
        font-weight: bold;
      }
    }

    &--row-empty {
      margin: 10px;
      padding: 20px;

      background-color: var(--white);

      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.8em;
      color: var(--dark);
      text-align: center;
    }

    &--positions {
      display: flex;
      flex-wrap: wrap;

      background-color: var(--white);
    }

    &--button-icon {
      font-size: 1.25em;
      color: var(--dark-blue);

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__list-content {
    margin: 10px;
    background-color: #ffffff;

    &--heading {
      font-size: 1.25em;
      font-weight: bold;
    
      color: var(--blue);
      padding: 0 10px 10px 10px;
      margin: 0;
    }
  }

  &__grid-content {
    padding: 10px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: var(--dark);

    &--card {
      padding: 15px;
      background-color: var(--white);

      text-align: center;
      box-shadow: 1px 1px 3px #9c9c9c;
    }

    &--icon {
      height: 75px;
      width: 75px;
      font-size: 3em;
    }

    &--initials {
      margin: 5px auto;
      padding: 5px;

      display: grid;
      align-items: center;
      justify-items: center;

      height: 50px;
      width: 50px;

      background-color: #9c9c9c;
      color: #ffffff;

      border-radius: 50%;
      font-size: 2em;
    }

    &--line-item {
      height: 30px;
      line-height: 30px;
    }
  }

  &__position {
    display: flex;
    align-items: center;
    justify-items: center;

    margin: 5px;
    padding: 5px 10px;
    background-color: #b8b8b8;
    color: #ffffff;
    border-radius: 10px;
    vertical-align: middle;

    &--server {
      background-color: #219c6f;
    }

    &--bartender {
      background-color: #1f65bb;
    }

    &--hostess {
      background-color: #40219c;
    }
  }
}
