/* mobile */
@media (max-width: 600px) {
  .main-content {
  }

  .schedule-list {
    padding: 30px;
    text-align: center;
    font-size: 16px;
  }

  .table {
    display: grid;
    grid-template-columns: 1fr auto;

    &__people {
      min-width: 125px;
    }

    &__shifts {
      display: grid;
      grid-template-columns: repeat(7, minmax(150px, 200px));
      overflow-x: scroll;
    }

    &__cell {
      height: 45px;
      /* border: solid 1px #ddd; */
      cursor: pointer;
    }

    &__header-cell {
      margin: 0 1px;
      padding: 2px;
      height: 25px;
      text-align: center;
    }
  }

  .mobile{
    &__table-header {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }

    &__table-header-cell {
      padding: 5px 10px;
      text-align: center;
    }
  }
}

/* full screen */
@media (min-width: 600px) {
}

.schedule {
  &__heading {
    padding-left: 10px;
  }

  &__summary {
    padding: 10px 20px;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    &--details {
      font-size: 0.75em;

      & div {
        padding: 1px 10px;
      }
    }

    &--details-title {
      font-weight: bold;
    }

    &--icon {
      font-size: 1.5em;
      text-align: center;
      padding: 15px;

      background-color: var(--primary-blue);
      color: var(--white);
    }
  }

  &__content {
    margin: 20px;
    padding: 10px;
    background-color: var(--white);
    box-shadow: 1px 1px 1px 1px #ddd;

    font-size: 0.8em;

    &--heading {
      padding: 5px 10px;
      text-align: center;
      font-weight: bold;
    }
  }

  &__block {
    padding: 5px;
    text-align: center;
    border: solid 1px var(--light-gray);

    &:hover {
      border: solid 2px var(--primary-teal);
      cursor: pointer;
    }

    &--name {
      padding: 5px;
    }
  }

  &__unavailable {
    padding: 5px;
    text-align: center;

    background-color: var(--gray);
    color: var(--white);
  }

}
