/* mobile */
@media (max-width: 600px) {}

/* full screen */
@media (min-width: 1024px) {}

/* small screen */
@media (min-width: 768px) and (max-width: 1024px) {}

.schedules-list {

  &__header-bar {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  h1 {
    font-size: 1.5em;
    font-weight: bold;

    color: #000;
    padding: 20px;
    margin: 0;
  }

  &__button-container {
    display: grid;
  }

  &__grid {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr auto auto auto;

    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: var(--dark);

    &--cell {
      margin-bottom: 5px;
      padding: 10px;

      background-color: var(--white);
    }

    &--bold-text {
      font-size: 1em;
      font-weight: bold;
      color: var(--dark);
    }

    &--button-icon {
      font-size: 1.25em;
      color: var(--dark-blue);

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.schedules-form {
  display: grid;

  &__title {
    color: var(--blue);
    padding: 0 10px;
  }
}