.schedules {
  &__control-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;

    &--title-pane {
      justify-self: left;

      h1 {
        font-size: 1.5em;
        font-weight: bold;

        color: var(--blue);
        padding: 20px;
        margin: 0;

      }
    }

    &--filter-pane {
      justify-self: right;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr auto auto;

    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: var(--dark);

    &--cell {
      margin-bottom: 5px;
      padding: 10px;

      background-color: var(--white);
    }

    &--bold-text {
      font-size: 1em;
      font-weight: bold;
      color: var(--dark);
    }

    &--button-icon {
      font-size: 1.25em;
      color: var(--dark-blue);

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__form-show {
    display: block;
    transition: 500ms;
  }

  &__form-hide {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  &__details {
    display: grid;
  }

}