.schedule-mobile {
  margin: 10px;

  &__list {
    padding: 10px;

    background-color: #ffffff;
    border: solid 1px #cccccc;

    &--line-item {
      padding: 10px 0 5px 0;
      border-bottom: solid 1px #cccccc;

      &:last-child {
        border-bottom: none;
      }
    }

    &--item-bold {
      font-weight: bold;
    }
  }
}