/* mobile */
@media (max-width: 600px) {
  .main-content {
  }

  .table {
  }

  .table-row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .table-row-even {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    min-height: 40px;
    align-items: center;
    background-color: #d3d2d2;
  }

  .table-row-odd {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    min-height: 40px;
    align-items: center;
    background-color: #f0f0f0;
  }

  .table-body {
    height: 60vh;
    overflow-y: auto;
  }

  .table-cell {
    margin: 0 1px;
    padding: 2px;
    height: 75px;
    /* border: solid 1px #ddd; */
    cursor: pointer;
    background-color: #f0f0f0;
  }

  .employee-cell {
    margin: 0 1px;
    padding: 2px;
    background-color: #fff;
  }

  .employee-cell-rotate {
  }
}

/* full screen */
@media (min-width: 600px) {
  .schedule-page-header-bar {
    display: grid;
    grid-template-columns: 150px 3fr 1fr;

    min-height: 50px;
    border: solid 1px #ddd;
    margin: 1em;
    align-items: center;
  }

  .page-header-title {
    font-size: 1.25em;
    font-weight: bold;
    color: #8a8a8a;
  }

  .page-header-details {
    justify-self: left;
  }

  .page-header-bar-controls {
    display: flex;
  }

  .main-content {
    display: grid;
    grid-template-columns: 1fr auto auto;

    border: solid 1px #ddd;
    margin: 1em;
  }

  .table {
    border: solid 1px #ddd;
    margin: 10px;
    font-size: 11px;
  }

  .table-body {
    height: 70vh;
    overflow-y: auto;
  }

  .table-row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .table-row-even {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    min-height: 40px;
    align-items: center;
    background-color: #d3d2d2;
  }

  .table-row-odd {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    min-height: 40px;
    align-items: center;
    background-color: #f0f0f0;
  }

  .table-header-cell {
    padding: 5px;
    border: solid 1px #fff;
    background-color: #f0f0f0;
  }

  .table-cell {
    margin: 0 1px;
    padding: 2px;
  }

  .employee-cell {
    margin: 0 1px;
    padding: 2px;
    cursor: pointer;
  }

  .table-cell:hover {
    color: royalblue;
  }

  .toolbox {
    display: grid;
    grid-template-rows: auto auto auto;
    align-content: flex-start;

    width: 50px;
    min-height: 200px;
  }

  .icon-button {
    height: 50px;
    padding: 10px;
  }

  .icon-button:hover {
    background-color: #1c3b97;
  }
}

.toolbox {
  background-color: royalblue;
  color: #f0f0f0;
}

.icon-button {
  height: 50px;
  border: none;
  cursor: pointer;

  justify-items: center;
  background-color: #4169e1;
  color: #f0f0f0;
  padding: 10px;
}

.schedule-cell {
  background-color: white;
  padding: 8px 5px;
  margin: 1px 2px;
  min-height: 10px;
  border: solid 1px lightgray;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: lightslategray;
  cursor: pointer;
}

.shift-unavailable {
  font-variant: small-caps;
  font-size: 0.75em;
  color: #8a8a8a;
}
