.toast {
  height: 50px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  font-size: 14px;
  font-weight: bold;
  color: var(--white);

  animation: fade-in 1s ease-in;

  &__icon {
    font-size: 20px;
    padding: 15px;
  }

  &__confirm {
    background-color: rgba(6, 150, 42, 1);
    margin: 10px;
  }

  &__error {
    background-color: rgba(182, 10, 10, 1);
    margin: 10px;
  }

  &__warn {
    background-color: rgba(232, 185, 29, 1);
    margin: 10px;
  }

  &__info {
    background-color: rgba(65, 105, 255, 1);
    margin: 10px;
  }

  &__close-button {
    padding: 10px;
    align-self: flex-start;
    cursor: pointer;
  }
}

@keyframes fade-in {
  0% { 
    opacity: 0; 
    max-height: 0; 
  }
  100% { 
    opacity: 1; 
    max-height: 100px; 
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    max-height: 100px;
  }

  100% {
    opacity: 0;
    max-height: 0;
  }
}